body {
    background-image: linear-gradient(to top left,#434343, #000000);
  }
  
  .emojiListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 40px 100px 40px;
  }
  
  .emojiItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    .emojiListContainer {
      margin:10px 0 0 0;
      padding: 0px 10px 0px 10px;
      height: 650px;
    }
    .emojiItemsContainer {
      padding: 0;
    }
  }
  