.resultCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .resultHeading {
    font-size: 60px;
  }
  .ResultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .winnerCard {
    padding: 20px;
    height: 80vh;
    background-color: #ffffff33;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .Image2 {
    width: 300px;
    height: 100%;
  }
  .Red{
    color:red;
  }
  .Green{
    color:#3cff00;
  }
  .Image1 {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .ScoreBoard {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .finalScore {
    color: #6a59ff;
    padding: 0;
    margin: 0;
  }
  .resultName {
    margin: 0;
    padding: 0;
    color:black;
  }
  .playAgainButton {
    width: 100px;
    height: 40px;
    background-color: #ffce27;
    color: #3d3d3d;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    margin: 10px;
  }
  @media (max-width: 768px) {
    .resultCard{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height:660px;
      
    }
    .Image1 {
      visibility: visible;
      height: 280px;
      width: 180px;
    }
    .winnerCard{
      height:500px;
      width:250px;
      margin:70px;
    }
    .resultHeading {
      font-size: 35px;
    }
    .ScoreBoard {
      font-weight: 700;
      font-size: 25px;
    }
    .playAgainButton {
      width: 130px;
      height: 50px;
      font-size: 17px;
      font-weight: 800;
    }
    .Image2 {
      display: none;
    }
  }
  